body {
    font-family: Arial;
    font-size: 15px;
    line-height: 1.6em;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}

header {
    border-bottom: 3px #f4f4f4 solid;
}

footer {
    border-top: 3px #f4f4f4 solid;
    text-align: center;
    padding-top: 5px;
}

main {
    padding-bottom: 20px;
}